name: Build example

on:
  push:
    branches: [ master ]
    paths-ignore: [ '**.md' ]
  pull_request:
    branches: [ master ]
    paths-ignore: [ '**.md' ]

jobs:
  build-stable-beta:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel: [ 'stable', 'beta' ]
    defaults:
      run:
        working-directory: ./example
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2.20.0
        with:
          channel: ${{ matrix.channel }}

      - name: Print Dart SDK version
        run: dart --version

      - name: Print Flutter SDK version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Pub upgrade (if beta)
        run: flutter pub upgrade
        if: ${{ matrix.channel == 'beta' }}

      - name: Format code
        run: dart format lib --set-exit-if-changed
        if: ${{ matrix.channel == 'stable' }}

      - name: Analyze
        run: flutter analyze lib
        if: ${{ matrix.channel == 'stable' }}

      - name: Build APK
        run: flutter build apk --no-shrink

      - name: Upload APK
        uses: actions/upload-artifact@v4
        if: ${{ matrix.channel == 'stable' }}
        with:
          name: app
          path: example/build/app/outputs/apk/release/app-release.apk

  build-old-versions:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '3.22.0' ]
    defaults:
      run:
        working-directory: ./example
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2.20.0
        with:
          flutter-version: ${{ matrix.version }}

      - name: Print Dart SDK version
        run: dart --version

      - name: Print Flutter SDK version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --no-shrink
