name: Flutter CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # Runs at 02:00 UTC on the 1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29 and 31th of every month.
    - cron: "0 2 */2 * *"

jobs:
  test-stable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2.4.0
        with:
          channel: 'stable'

      - name: Doctor
        run: flutter doctor

      - name: Install dependencies
        run: flutter packages get

      - name: Format
        run: flutter format lib test example --set-exit-if-changed

      - name: Analyze
        run: flutter analyze lib test example

      - name: Run tests
        run: flutter test --coverage --coverage-path=lcov.info

      - uses: codecov/codecov-action@v2.1.0

  test-old-version:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [ '2.5.0', '2.5.3' ]
    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2.4.0
        with:
          flutter-version: ${{ matrix.version }}

      - name: Doctor
        run: flutter doctor

      - name: Install dependencies
        run: flutter packages get

      - name: Run tests
        run: flutter test
